* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cl-placeholder: #7A7A7A;
$cl-sub: #1D1D1D;
$cl-dark-sub: #BCBCBC;
$cl-txt: #000000;
$cl-dark-txt: #E9E9E9;
$cl-note: #B8B8B8;
$cl-body: #4B4B4B;
$cl-white: #ffffff;
$cl-orange: #ff471d;
$cl-dark-orange: #EB2C00;
$cl-desc: #9A9A9A;
$cl-bg: #EAEEF0;
$cl-dark-bg: #212121;
$cl-disable: #DBDBDB;
$dur-default: 400ms;

$container-width: 172.8rem;

//Font
html {
    scroll-behavior: unset;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    font-family: 'HelveticaNowDisplay';
    font-size: 0.5787037037vw;
    color: rgba($cl-txt, 1);
    @media only screen and (min-width: 1728px) {
        font-size: 10px;
    }
    @media only screen and (max-width: 991px) {
        font-size: 1vw;
    }
    @media only screen and (max-width: 767px) {
        font-size: 1.3vw;
    }
    @media only screen and (max-width: 476px) {
        font-size: 2.667vw;
    }
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.hover-un {
    position: relative;
    width: fit-content;
    cursor: pointer;
    color: currentColor;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -0.1em;
        left: 0;
        background-color: currentColor;
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
        transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
    }
    &:hover {
        &::after {
            transform-origin: left;
            -webkit-transform-origin: left;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}
.tag-wrap {
    position: relative;
}
.tag-link {
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-bottom: .05rem;
    margin-left: -1.7rem;
    padding: .5rem .6rem;
    background-color: rgba($cl-orange, 1);
    border-radius: .2rem;
    font-size: 1rem;
    line-height: 1em;
    color: rgba($cl-white, 1);
    font-weight: 500;
    text-wrap: nowrap;
    &::after {
        content: '';
        display: block;
        top: 100%;
        left: .5rem;
        position: absolute;
        width: .8rem;
        height: .5rem;
        clip-path: polygon(0% 0%, 100% 0, 0% 100%);
        background-color: rgba($cl-orange, 1);
    }
}

.arr-wrap {
    width: 100%;
    height: 100%;
    flex: none;
    position: relative;
    overflow: hidden;
    &-32 {
        width: 3.2rem;
        height: 3.2rem;
    }
    .arr-ic-main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: auto;
    }
    .arr-ic-clone {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: auto;
        transform: translate(-150%, 150%);
    }
}
.arr-hover {
    &:hover {
        .arr-ic-main {
            transform: translate(150%,-150%);
            transition: transform .6s cubic-bezier(.4,0,.1,1);
        }
        .arr-ic-clone {
            transform: translate(0, 0);
            transition: transform .6s cubic-bezier(.4,0,.1,1);
        }
    }
}

//Layout
.grid {
    display: grid;
    column-gap: 2rem;
}
.container {
    --grid-column: 16;
    --container-padding: 6rem;

    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: $container-width;
    &.fluid {
        max-width: none;
    }
    &.grid {
        grid-template-columns: repeat(var(--grid-column), 1fr);
    }
    @include md {
        --grid-column: 12;
        --container-padding: 4rem;
    }
    @include sm {
        --grid-column: 2;
    }
    @include xs {
        --container-padding: 2rem;
    }
}