//Footer
.footer {
    background-color: rgba($cl-bg, 1);
    position: relative;
    z-index: 5;
    &__form {
        &-wrap {
            grid-column: 2/7;
            margin-top: -13.6rem;
            padding: 3.2rem 6rem 6rem;
            background-color: rgba($cl-dark-bg, 1);
        }
        &-icon {
            margin-bottom: 4rem;
        }
        &-title {
            color: rgba($cl-white, 1);
            margin-bottom: 1.2rem;
        }
        &-sub {
            color: rgba($cl-dark-sub, 1);
            margin-bottom: 2.4rem;
        }
        &-main {
            display: flex;
            flex-direction: column;
            row-gap: .8rem;
        }
        &-caption {
            margin-top: 1.2rem;
            color: rgba($cl-placeholder, 1);
        }
    }
    &__main {
        grid-column: 8/16;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid rgba($cl-txt, .1);
        margin-bottom: 7.6rem;
    }
    &__link {
        transition: color $dur-default ease;
        &:hover, &.active {
            color: rgba($cl-orange, 1);
        }
    }
    &__info {
        grid-template-columns: repeat(8, 1fr);
        &-addr {
            grid-column: 1/5;
            grid-template-columns: repeat(2, 1fr);
            &-label {
                margin-bottom: 1.6rem;
            }
            &-txt {
                color: rgba($cl-body, 1);
            }
        }
        &-contact {
            grid-column: 6/9;
            display: flex;
            flex-direction: column;
            row-gap: .8rem;
            &-label {
                color: rgba($cl-body, 1);
            }
            &-link {
                transition: color $dur-default ease;
                &:hover, &.active {
                    color: rgba($cl-orange, 1);
                }
            }
        }
        &-copy {
            grid-column: 1/5;
            color: rgba($cl-note, 1);
            padding-top: 4rem;
            margin-top: auto;
        }
        &-legal {
            grid-column: 6/9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 4rem;
            margin-top: auto;
            &-link {
                color: rgba($cl-note, 1);
                transition: color $dur-default ease;
                &:hover, &.active {
                    color: rgba($cl-txt, 1);
                }
            }
        }
    }

    &__marquee {
        display: block;
        overflow: hidden;
        color: rgba($cl-white, 1);
        transition: color $dur-default ease;
        &:hover {
            color: rgba($cl-orange, 1);
            .footer__marquee-wrap {
                transform: translate(-4%);
            }
            .footer__marquee-item {
                animation-play-state: paused;
            }
        }
        &-wrap {
            padding-top: 3.4rem;
            padding-bottom: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: nowrap;
            transform: translate(0);
            transition: transform 1.6s ease-out
        }
        &-item {
            padding-right: 3rem;
            white-space: nowrap;
            font-size: 18rem;
            line-height: 1.15em;
            animation-name: rtl;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 20s;
            animation-play-state: running;
            width: max-content;
            will-change: transform,width;
        }
    }
}

@keyframes rtl {
    0% {
        transform: translateZ(0);
        visibility: visible;
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}
.input {
    &-wrap {
        width: 100%;
    }
    &-field {
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        border-radius: none;
        background-color: transparent;
        padding: 2rem 2.4rem;
        border: 1px solid rgba($cl-white, .1);
        color: rgba($cl-white, 1);
        transition: all $dur-default ease;
        &::placeholder {
            color: rgba($cl-placeholder, 1);
        }
        &:not(:placeholder-shown) {
            border: 1px solid rgba($cl-white, .2);
        }
        &:hover, &:focus {
            border: 1px solid rgba($cl-white, .3);
        }
    }
    &-submit {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        outline: none;
        border: none;
        border-radius: none;
        &-icon {
            width: 0rem;
            opacity: 0;
            transition: all $dur-default ease;
            .icon {
                margin-right: 1rem;
            }
        }
        .input-submit-txt-tail {
            width: 0;
            overflow: hidden;
            transition: all $dur-default ease;
        }
        &.on-complete {
            .input-submit-icon {
                width: 3rem;
                opacity: 1;
            }
            .input-submit-txt-tail {
                width: 1.2rem;
            }
        }
    }
}

@include md {
    .footer {
        &__form {
            &-wrap {
                grid-column: 1/7;
                margin-top: -11rem;
                padding: 3.2rem 4rem 4rem;
            }
            &-icon {
                margin-bottom: 2.4rem;
                @include size(6rem, 6rem);
            }
            &-sub {
                margin-bottom: 3.2rem;
            }
            &-caption {
                margin-top: 1.6rem;
            }
        }
        &__main {
            grid-column: 1/13;
        }
        &__links {
            margin-bottom: 0;
        }
        &__link {
            font-size: 2.2rem;
        }
        &__info {
            padding-top: 4rem;
            grid-template-columns: repeat(12, 1fr);
            &-addr {
                grid-column: 1/7;
                &-label {
                    font-weight: 500;
                    margin-bottom: 1.2rem;
                }
            }
            &-contact {
                grid-column: 8/13;
                margin-left: 4rem;
                row-gap: 1.2rem;
                &-label {
                    margin-bottom: 0.2rem;
                }
                &-link {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            &-copy {
                padding-top: 0;
            }
            &-legal {
                padding-top: 0;
                grid-column: 8/13;
                margin-left: 2.5rem;
            }
        }
        &__marquee {
            &-wrap {
                padding: 5rem 0;
            }
            &-item {
                font-size: 10rem;
                line-height: 1em;
            }
        }
    }
}

@include sm {
    .footer {
        &__form {
            &-wrap {
                grid-column: 1/3;
                margin-top: -10.8rem;
                padding: 3rem 4rem 4rem;
            }
            &-icon {
                @include size(4.8rem, 4.8rem);
            }
            &-main {
                .input-field {
                    padding: 1.2rem 2.4rem;
                }
                .input-submit {
                    padding: 1.6rem 2rem;
                }
            }
        }
        &__main {
            grid-column: 1/3;
        }
        &__links {
            padding: 5rem 0 4rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3.2rem 2rem;
        }
        &__link {
            font-size: 2rem;
            width: fit-content;
            &:nth-child(2) {
                grid-row: 2/3;
            }
            &:nth-child(3) {
                grid-row: 3/4;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            &-addr {
                margin-bottom: 3.2rem;
                &-label {
                    font-size: 1.4rem;
                }
            }
            &-contact {
                margin-left: 0;
                flex-direction: row;
                column-gap: 2rem;
                &-link {
                    font-size: 1.6rem;
                }
            }
            &-copy {
                margin-bottom: 1.2rem;
            }
            &-legal {
                margin-left: 0;
            }
        }
        &__marquee {
            &-wrap {
                padding: 4.6rem 0 6rem;
            }
            &-item {
                font-size: 6rem;
            }
        }
    }
}