//Header
.header {
    --header-txt: 255,255,255;
    --header-bg: 255,255,255;
    --header-orange: 255, 71, 29;
    &.on-scroll {
        --header-txt: 0,0,0;
        --header-orange: 0,0,0;
        --header-orange: 255, 71, 29;
    }
    background-color: rgba(var(--header-bg), 0);
    padding: 3.2rem 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 991;
    transition: all $dur-default ease;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: inline-block;
        height: 3.2rem;
        margin-right: auto;
        transition: height $dur-default ease;
        svg {
            height: 100%;
            width: auto;
            path {
                transition: fill $dur-default ease;
                fill: rgba(var(--header-txt), 1) !important;
                &.cl-orange {
                    fill: rgba(var(--header-orange), 1) !important;
                }
            }
        }
    }
    &__links {
        display: flex;
        column-gap: 7.2rem;
        justify-content: end;
        align-items: center;
        margin-right: 7.2rem;
    }
    &__link {
        display: block;
        color: rgba(var(--header-txt), .6);
        transition: color $dur-default ease;
        &:hover, &.active {
            color: rgba(var(--header-txt), 1);
        }
    }
    &__toggle,
    &__nav {
        display: none;
    }
    &.on-hide {
        @include transform(translateY(-100%));
    }
    &.on-scroll {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        background-color: rgba(var(--header-bg), .9);
        backdrop-filter: blur(10px);
        .header__logo {
            height: 2.6rem;
        }
    }

    &.dark-mode {
        --header-txt: 0,0,0;
    }
    &.mix-mode {
        --header-txt: 0,0,0;
        .header {
            &__logo {
                svg {
                    path {
                        fill: rgba(255,255,255, 1) !important;
                    }
                }
            }
        }
        &.on-scroll {
            .header {
                &__logo {
                    svg {
                        path {
                            fill: rgba(var(--header-txt), 1) !important;
                            &.cl-orange {
                                fill: rgba(var(--header-orange), 1) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.force {
        transform: none !important;
    }
}

@include md {
    .header {
        padding: 4rem 0;
        &__btn {
            padding: 1.1rem 2rem;
            font-size: 1.4rem;
            height: 5rem;
        }
        &__links {
            display: none;
        }
        &__toggle {
            z-index: 4;
            margin-left: .5rem;
            @include size(5rem);
            background-color: rgba($cl-white, .05);
            position: relative;
            display: block;
            @include transition(top 0.3s ease-out);
            top: 0;
            &-icon {
                position: absolute;
                height: 0.15rem;
                background-color: $cl-white;
                margin: auto;
                width: 100%;
                right: 0;
                left: 0;
                @include transition(all 0.49s cubic-bezier(0.7, 0.1, 0.1, 1.5));
                &-1 {
                    width: 45.45%;
                    top: calc(50% - ((10%)) + -0.2rem);
                }
                &-2 {
                    width: 45.45%;
                    top: calc(50% - ((10%)) + 0.35rem);
                }
                &-3 {
                    width: 28.97%;
                    left: 16.03%;
                    top: calc(50% - ((10%)) + 0.9rem);
                }
            }
        }
        &__nav {
            display: block;
            z-index: 3;
            position: absolute;
            pointer-events: none;
            right: 2rem;
            top: 2rem;
            color: $cl-white;
            background-color: $cl-sub;
            padding: 2rem;
            opacity: 0;
            @include transform(scale(0.9));
            @include transform-origin(right top);
            @include transition(0.3s ease-out);
            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            &-item {
                position: relative;
                list-style: none;
                width: 15rem;
                &:before {
                    content: '';
                    padding-top: 100%;
                    pointer-events: none;
                    height: 100%;
                    width: 0;
                    display: block;
                }
                &:nth-child(1) {
                    grid-column: 1/2;
                }
                &:nth-child(2) {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                &:nth-child(3) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
                &:nth-child(4) {
                    grid-column: 3/4;
                    grid-row: 3/4;
                }
                &:nth-child(5) {
                    grid-column: 2/3;
                    grid-row: 4/5;
                }
                &:last-child {
                    display: none;
                    &::before {
                        display: none;
                    }
                }
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        .header__nav-link::before {
                            transition: width 0.35s cubic-bezier(0.3, 0, 0.2, 1) (0.125s + ($i - 1)* 0.04), transform 0.35s ease-out (0.35s + ($i - 1)* 0.06), opacity 0.35s cubic-bezier(0.3, 0, 0.2, 1) (0.125s + ($i - 1)* 0.08);
                        }
                    }
                }
            }
            &-link {
                position: absolute;
                inset: 0;
                padding: 14.28%;
                display: flex;
                align-items: flex-end;
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 8.9%;
                    background-color: rgba($cl-white, .05);
                    opacity: 0;
                    @include transform(scaleY(0));
                    @include transform-origin(left);
                    @include transition(0.3s ease-out);
                }
                &.active {
                    &::before {
                        background-color: $cl-orange;
                    }
                }
            }
        }
        &.dark-mode,
        &.on-scroll,
        &.mix-mode {
            .header__toggle-icon {
                background-color: black;
                @include transition(0.3s ease-out);
            }
        }
        &.open-nav {
            &.dark-mode,
            &.on-scroll,
            &.mix-mode {
                .header__toggle-icon {
                    background-color: $cl-white;
                    @include transition(0.3s ease-out);
                }
            }
            &.on-scroll {
                .header__toggle {
                    top: 2rem;
                    @include transition(top 0.3s ease-out);
                }
                .header__nav {
                    top: 1.2rem;
                    @include transition(0.3s ease-out);
                }
            }
            .header__nav {
                opacity: 1;
                pointer-events: auto;
                @include transform-origin(right top);
                @include transform(scale(1));
                @include transition(0.3s ease-out);
                &-item {
                    @for $i from 1 through 5 {
                        &:nth-child(#{$i}) {
                            .header__nav-link::before {
                                transition: transform 0.3s cubic-bezier(0.3, 0, 0.2, 1) (0.125s + ($i - 1) * 0.08), width 0.35s cubic-bezier(0.3, 0, 0.2, 1) (0.35s + ($i - 1) * 0.08), opacity 0.35s ease-out (0.125s + ($i - 1) * 0.04);
                            }
                        }
                    }
                }
                &-link {
                    &::before {
                        width: 100%;
                        opacity: 1;
                        @include transform(scaleY(1));
                    }
                }
            }
            .header__toggle {
                &-icon {
                    &-2 {
                        opacity: 0;
                        left: 50%;
                        @include transform(scaleX(0.5));
                        @include transform-origin(right);
                    }
                    &-1 {
                        top: 50%;
                        @include transition-delay(0.04s);
                        @include transform(rotate(45deg));
                    }
                    &-3 {
                        left: 0;
                        width: 45.45%;
                        top: 50%;
                        @include transition-delay(0.1s);
                        @include transform(rotate(-45deg));
                    }
                }
            }
        }
    }
}

@include sm {
    .header {
        padding: 2rem 0;
        &__logo {
            height: 2.6rem;
        }
        &_act {
            display: none;
        }
        &__toggle {
            margin-left: 0;
            @include size(4rem);
            top: 0;
            margin-top: -1.3rem;
            margin-bottom: -1.3rem;
            margin-right: -1.3rem;
            background-color: rgba($cl-white, 0);
            &-icon {
                &-1 {
                    width: 1.8rem;
                }
                &-2 {
                    width: 1.8rem;
                }
                &-3 {
                    width: 1rem;
                }
            }
        }
        &__nav {
            position: fixed;
            inset: 0;
            padding: 2rem 2rem;
            overflow-y: auto;
            height: 100vh;
            @include transform(scale(1) translateX(2.5rem));
            @include transform-origin(left);
            @include transition(0.5s ease-out);
            @include transition-delay(0.3s);
            &-item {
                width: 100%;
                .txt-16 {
                    font-size: 1.4rem;
                }
                &:last-child {
                    display: block;
                    grid-column: 1/4;
                    grid-row: 5/6;
                    margin-top: 6.2rem;
                    margin-bottom: 8.7rem;
                }
            }
            &-link {
                padding: 1rem;
            }
            &-cta {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 2.4rem;
                padding: 2rem;
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
                background-color: $cl-orange;
                @include transition(clip-path 0.35s cubic-bezier(0.3, 0, 0.2, 1) (0.125s + (6 - 1)* 0.04));
                .arr-ic-main {
                    @include size(2rem);
                }
            }
        }
        &.mix-mode {
            .header {
                &__logo {
                    svg {
                        path {
                            fill: rgba(var(--header-txt), 1) !important;
                        }
                    }
                }
            }
        }
        &.on-scroll {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        &.open-nav {
            &.on-scroll {
                .header__nav {
                    top: 0;
                }
                .header__toggle {
                    top: 0rem;
                    @include transition(top 0.3s ease-out);
                }
            }
            .header__nav {
                @include transform(scale(1) translateX(0));
                @include transition(0.5s ease-out);
                &-cta {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    @include transition(clip-path .35s cubic-bezier(0.3, 0, 0.2, 1) (0.35s + (6 - 1) * 0.08));
                }
            }
        }
        &.force-hidden {
            @include transform(translateY(-100%) !important);
        }
    }
}