@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay.otf');
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    font-weight: 500;
    src: url('../fonts/HelveticaNowDisplayMedium.otf');
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    font-weight: 700;
    src: url('../fonts/HelveticaNowDisplayBold.otf');
}

.txt {
    font-family: 'HelveticaNowDisplay';
    &-12 {
        font-size: 1.2rem;
        line-height: 1.6em;
    }
    &-14 {
        font-size: 1.4rem;
        line-height: 1.5em;
    }
    &-16 {
        font-size: 1.6rem;
        line-height: 1.6em;
    }
    &-18 {
        font-size: 1.8rem;
        line-height: 1.6em;
    }
    &-20 {
        font-size: 2rem;
        line-height: 1.3em;
    }
    &-24 {
        font-size: 2.4rem;
        line-height: 1.3em;
    }
    &-28 {
        font-size: 2.8rem;
        line-height: 1.35em;
    }
    &-36 {
        font-size: 3.6rem;
        line-height: 1.2em;
    }
    
    &-med {
        font-weight: 500;
    }
    &-hl {
        color: rgba($cl-orange, 1);
    }

    &-link {
        color: rgba($cl-orange, 1);
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &-32 {
        width: 3.2rem;
        height: 3.2rem;
    }
    &-80 {
        width: 8rem;
        height: 8rem;
    }
    &-100 {
        width: 10rem;
        height: 10rem;
    }
}

.btn {
    padding: 1.6rem 2rem;
    border-radius: .4rem;
    text-align: center;
    background-color: rgba($cl-orange, 1);
    color: rgba($cl-white, 1);
    transition: background-color $dur-default ease;
    &:hover {
        background-color: rgba($cl-dark-orange, 1);
    }
    &-pri {
        font-weight: 500;
    }
    &-lg {
        padding: 1.8rem 3.4rem;
        border-radius: .2rem;
    }
}
.heading {
    font-weight: 500;
    &-bold {
        font-weight: 700;
    }
}
h1, .h1 {
    font-size: 10rem;
    line-height: 1em;
}
h2, .h2 {
    font-size: 10rem;
    line-height: 1em;
}
h3, .h3 {
    font-size: 7.2rem;
    line-height: 1em;
}
h4, .h4 {
    font-size: 6rem;
    line-height: 1em;
}
h6, .h6 {
    font-size: 3.2rem;
    line-height: 1.2em;
}

img {
    width: 100%;
    height: auto;
    max-width: none;
}

.img {
    &-wrap {
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 0;
            padding-bottom: var(--aspect);
            display: block;
        }
    }
    &-fill {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-abs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
